spring:
  application:
    name: pubg-insight-server

  # .env import
  config:
    import: optional:file:.env[.properties]

  # MySql DB 연동
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  # 테스트용 h2 DB 배포 시 주석 처리 !
  #  datasource:
  #    url: jdbc:h2:mem:pubg;MODE=MySQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
  #    driver-class-name: org.h2.Driver
  #    username: sa
  #    password:
  #
  #  jpa:
  #    hibernate:
  #      ddl-auto: update
  #    properties:
  #      hibernate:
  #        format_sql: true
  #        show_sql: true
  #        dialect: org.hibernate.dialect.H2Dialect
  #  h2:
  #    console:
  #      enabled: true
  #      path: /h2-console

  cache:
    cache-names: seasonCache

  devtools:
    restart:
      enabled: true

springdoc:
  swagger-ui:
    path: /api-docs
    tags-sorter: alpha

app:
  s3:
    match-bucket: pubginfohub-match-record-bucket